body {
    background-color: #000; 
    color: #fff; 
    font-family: Arial, sans-serif;
}

header, .navbar {
    background-color: #FFA07A; /* laranja salmão */
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: #fff; 
    margin: 0 15px;
    text-decoration: none;
}

button, input[type="submit"] {
    background-color: #FFA07A; /* laranja salmão */
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #FF7F50; /* laranja mais escuro */
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
}

.product-category {
    background-color: #333; /* preto escuro para separar categorias */
    color: #FFA07A; /* laranja salmão para categorias */
    padding: 15px;
    margin-bottom: 10px;
}
